---
// required to allow github-pages to convert the scss to css when building the site
---
// start of content


@import "";


.changes-color{
    width: 200px;
    height: 200px;
    background-color: blue;
    animation-name: changes-color;
    animation-duration: 10s;
}

@keyframes changes-color {
    from {background-color: red;}
    to {background-color: yellow;}
}
